body{
    overflow: hidden;
}
body, button, #adminPanel *{
    background-color: #1e1e1e;
    font-family: Consolas, "Courier New", monospace;
    font-weight: normal;
    font-size: 14px;
    font-feature-settings: "liga" 0, "calt" 0;
    font-variation-settings: normal;
    line-height: 19px;
    letter-spacing: 0px;
    color: #ffffff;
}
#adminPanel input{
    width:100%;
}
hr{
    margin: 0;
}
button{
    margin: 5px;
}
canvas {
  background: #1e1e1e;
  position: fixed;
  width: 100%;
  height: 100%;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
main > div{
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10vh;
    background-color: rgba(0,0,0,0.5);
}
main > div > * {
    pointer-events: all;
}
main > div > button{
    padding: 10px;
    width: 200px;
    font-size: 25px;
}
main > div > * >input{
    font-family: Consolas, "Courier New", monospace;
    font-size: 30px;
    margin-bottom: 20px;
    background-color: #1e1e1e;
    color: #ffffff;
}
main > div > h1 {
    font-size: 60px;
}
#messageBox{
    z-index: 50000;
    pointer-events: none;
    position: fixed;
    top: 2vh;
    right: 2vw;
}
#main {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#console{
    word-wrap: break-word;
}
#middle{
    display:flex;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    width: 100%;
}
#middle > *{
    padding: 8px;
}
#container{
    border: 1px solid grey;
    width: 100%;
    height: 50vh;
    margin: 0;
}
#output, #fileSystem{
    border: 1px solid grey;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
#output{
    background-color: black;
}
#bottom{
    width:100%;
    height: 40vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.message{
    z-index: 50000;
    position: relative;
    padding: 3px;
    border: 1px grey solid;
    width: 10vw;
    background-color: rgba(0,0,0,0.25);
    pointer-events: none;
    margin: 1vh;
}
#list a{
    color:aqua;
    user-select: none;
}
a:link{
    color: aqua;
}
a:visited{
    color: teal;
}
a:hover{
    color: aquamarine;
    text-decoration: underline;
}
a:active{
    color: aqua;
}