body, button{
    background-color: #222222;
    font-family: Consolas, "Courier New", monospace;
    font-weight: normal;
    font-size: 14px;
    font-feature-settings: "liga" 0, "calt" 0;
    font-variation-settings: normal;
    line-height: 19px;
    letter-spacing: 0px;
    color: #ffffff;
}
hr{
    margin: 0;
}
button{
    margin: 5px;
}
#main {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#container{
    border: 1px solid grey;
    width: 100%;
    height: 60vh;
    resize: vertical;
    overflow: auto;
}
#output, #fileSystem{
    border: 1px solid grey;
    width: 100%;
    height: 45vh;
    overflow: scroll;
}
#output{
    background-color: black;
}
#bottom{
    width:100%;
    height: 40vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
#list a{
    color:aqua;
}
a:link{
    color: aqua;
}
a:visited{
    color: teal;
}
a:hover{
    color: aquamarine;
    text-decoration: underline;
}
a:active{
    color: aqua;
}